.comments {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.commentSectionHeader {
  margin-top: 40px;
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addCommentField {
  padding-bottom: 12px;
}

button.commentButton {
  border-radius: 8px;
  font-size: 15px;
}

button.deletePostButton, button.editCommentButton, button.deleteCommentButton, button.replyButton {
  transition: transform 0.2s;
}

button.deletePostButton:hover, button.editCommentButton:hover, button.deleteCommentButton:hover, button.replyButton:hover {
  transition: transform 0.2s;
  transform: scale(120%);
}